@import '../../styles/variables';

.bossCard {
  position: relative;
  padding: 30px 25px 25px 25px;
  margin-right: 20px;
  margin-bottom: 30px;
  max-width: 293px;
  width: 100%;
  background: $bossCard-bg;
  border-radius: 7px;
  box-shadow: 0px 7px 11px -1px rgba(250, 133, 18, 0.3);

  a {
    transition: 0.1s;
    &:hover {
      color: #fff;
    }

    &:active {
      color: rgba(255, 255, 255, 0.8);
    }
  }

  &-info {
    position: absolute;
    width: 21px;
    height: 21px;
    top: 7px;
    right: 7px;
    cursor: pointer;
  }

  &-content {
    display: flex;
    flex-direction: column;

    &__name {
      margin: 0;
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;
    }

    &__experience {
      padding-top: 11px;
      font-size: 15px;
      font-weight: 350;
      color: $bossCard-secondary-clr;

      b {
        font-weight: 600;
        color: #000;
      }
    }

    &__additional {
      max-width: 273px;
      margin: 0;
      padding-top: 11px;
      font-style: italic;
      color: $bossCard-secondary-clr;
    }

    &__location {
      display: flex;
      align-items: center;
      padding-top: 20px;
      $loc: &;

      a {
        display: flex;
        align-items: center;

        &:hover {
          #{$loc}--icon {
            svg {
              transition: 0.4s;
              path {
                fill: #fff;
              }
            }
          }

          #{$loc}--text {
            color: #fff;
          }
        }
      }

      &--icon {
        margin-right: 6px;
        width: 19px;
        height: 19px;
      }

      &--text {
        color: $bossCard-secondary-clr;
      }
    }
  }
}
