$header-bg: linear-gradient(#fda726, #f9c50d);
$header-clr: #939393;

$categories-item-border-clr: #fda726;

$active-categories-item-clr: #000;
$unactive-categories-item-clr: rgba(147, 147, 147, 1);
$categories-item-clr-hover: rgba(147, 147, 147, 0.7);

// BossList

$bossList-section-title-easy-clr: #96ff9c;

// --------

$bossCard-bg: linear-gradient(-45deg, #fda726, #f9c50d);
$bossCard-secondary-clr: #292929;
