@import '../../../styles/variables';

.switcher {
  display: flex;
  align-items: center;
  font-size: 12px;

  .left-language {
    margin-right: 8px;
  }
  .right-language {
    margin-left: 8px;
  }

  .left-language,
  .right-language {
    color: $header-clr;

    &.active {
      color: $active-clr;
    }
  }

  .check {
    position: relative;
    width: 30px;
    cursor: pointer;

    &:checked {
      &:before {
        // background: $switcher-color2;
        background: $switcher-color1;
      }

      &:after {
        left: 15px;
        border: 1px solid $switcher-color1;
        // border: 2px solid $switcher-color2;
      }
    }

    &:before {
      content: '';
      position: absolute;
      top: -1px;
      width: 30px;
      height: 15px;
      background: $switcher-color1;
      border-radius: 25px;
    }

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: -1px;
      width: 15px;
      height: 15px;
      background: #fff;
      border-radius: 25px;
      transition: 0.25s;
      border: 1px solid $switcher-color1;
      box-sizing: border-box;
    }
  }
}
