@import '../../styles/variables';

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  .container {
    display: flex;
    padding: 0px 20px;
  }

  &__logo-block {
  }
}

.logo {
  color: #939393;
  font-size: 20px;
  font-weight: 300;
}
