@import '../../styles/variables';

.content {
  padding: 0px 30px;
}

.bossList {
  &__selector {
    display: flex;
    margin-bottom: 15px;
    padding-left: 5px;
    &--select {
      padding: 9px;
      margin-right: 5px;
      border-radius: 7px;
      cursor: pointer;

      &.active {
        color: white;
      }

      &:active {
        transform: translate(0px, 1px);
      }
    }
  }

  &__bosses {
    max-height: calc(100vh - 162px);
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;

    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;

      &-thumb {
        cursor: pointer;
        border-radius: 4px;
        background-color: $scroll-clr;
      }

      &-track {
        border-radius: 4px;
        // background-color: $scroll-bg;
        background-color: transparent;
      }
    }

    /* styles for Firefox scrollbar */
    scrollbar-width: thin;
    scrollbar-color: $scroll-clr $scroll-bg;
    /* --- */
  }
}
